{% extends 'base/base.html' %}

{% block content %}
                <form  method="get" action="{% url 'completed_paper-index' %}">
                {{ search_form }}
                <button>
                    search
                </button>
                {% csrf_token %}
            </form>
    <div>Old Papers:</div>
    {% for object in object_list %}
        <div class="term-paper-card">
            <p>{{ object.title }}</p>

            <a href="{% url 'completed-paper-details' pk=object.pk %}">Details</a>
        </div>
    {% endfor %}

        <a href="?page=1">1...  </a>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"> <- </a>
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> -> </a>
    {% endif %}
    <a href="?page={{ page_obj.paginator.num_pages }}">  ... {{ page_obj.paginator.num_pages }}</a>

{% endblock %}