{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <h1 class="page-title"><a href="{% url 'index' %}">Project title</a></h1>
        <nav class="navigation">
        {% if request.user.is_staff %}
            <a href="{% url 'admin-index' %}">Administration</a>
        {% endif %}

            {% if request.user.is_authenticated %}
                <a href="{% url 'materials-add' %}">Add Materials</a>
                {% if request.user.user_type == 'student' %}
                    <a href="{% url 'term-paper-add' %}">Add term paper</a>
                    <a href="{% url 'student-papers' %}">My papers</a>
                    {% else %}
{#             TODO make finish paper func with the completed field, and check the filters in the list views#}
{#             TODO       , add the completed func#}
                    <a href="{% url 'teacher-papers' %}">Taken Papers</a>
                    <a href="{% url 'lesson-add' %}">Add lesson</a>
                    <a href="{% url 'own-lesson-index' %}">My lessons</a>
                    {% endif %}

                <a href="{% url 'details-user' pk=request.user.pk %}">Profile</a>
            <a href="{% url 'logout-user' %}">Log Out</a>
            {% else %}
            <a href="{% url 'login-user' %}">Login</a>
          <a href="{% url 'register-user' %}">Register</a>
            {% endif %}
        </nav>
      </header>
        {% block content %}
        {% endblock %}
      <footer>Copyright © 2027 by The student helper.</footer>
    </div>
  </body>
</html>
