{% extends "administration/base-admin/base-admin.html" %}

{% block admin_content %}
{% for object in object_list %}
    <div class="main-admin-card">
    <h3 class="admin-card-p">Group name: {{ object.name }}</h3>
        {% if change_group %}
            <div></div>
    <a class="admin-card-links" href="{% url 'admin-group-edit' pk=object.pk %}">Change</a>
        {% endif %}
    {% if view_group %}
    <a class="admin-card-links" href="{% url 'admin-group-delete' pk=object.pk %}">Delete</a>
    {% endif %}
    </div>

{% endfor %}
{% endblock %}
