{% extends 'base/base.html' %}

{% block content %}
        <form method="get" action="{% url 'teacher-papers' %}">
        {{ search_form }}
        <button>
            search
        </button>
        {% csrf_token %}
    </form>


    {% for object in object_list %}
        <p>{{ object.title }}</p>
        <p>{{ object.university }}</p>
        <p>{{ object.death_line }}</p>
        <p>{{ object.price_cap }}</p>
        <p>{{ object.description }}</p>

        <a href="{% url 'term-paper-file-open' pk=object.pk %}">Open File</a>

        <div>
            <a href="{% url 'term-paper-complete' pk=object.pk %}">Complete paper</a>
        </div>
    {% endfor %}

    <a href="?page=1">1...  </a>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"> <- </a>
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> -> </a>
    {% endif %}
    <a href="?page={{ page_obj.paginator.num_pages }}">  ... {{ page_obj.paginator.num_pages }}</a>

{% endblock %}