{% extends 'base/base.html' %}

{% block content %}
    {% for object in object_list %}
        <p>{{ object.title }}</p>
        <p>{{ object.university }}</p>
        <p>{{ object.death_line }}</p>
        <p>{{ object.price_cap }}</p>
        <p>{{ object.description }}</p>

        <a href="{% url 'term-paper-file-open' pk=object.pk %}">Open File</a>

        <div>
            <a href="{% url 'term-paper-complete' pk=object.pk %}">Complete paper</a>
        </div>
    {% endfor %}


{% endblock %}