{% extends 'base/base.html' %}

{% block content %}

    <div class="details-container">

    {% if is_owner %}
        <a class="main-card-link" href="{% url 'term-paper-edit' pk=object.pk %}">Edit</a>
        <a class="main-card-link" href="{% url 'term-paper-delete' pk=object.pk %}">Delete</a>
    {% endif %}
    <p class="term-paper-card-p">Title: {{ object.title }}</p>
    <p class="term-paper-card-p">University: {{ object.university }}</p>
    <p class="term-paper-card-p">Death Line: {{ object.death_line }}</p>
    <p class="term-paper-card-p">Price Cap: {{ object.price_cap }}</p>
    <p class="term-paper-card-p">Description: {{ object.description }}</p>

    <a class="main-card-link" href="{% url 'term-paper-file-open' pk=object.pk %}">Download File</a>



    {% if is_taken and object.completed == False %}
        <p>Already taken</p>
        <p><a class="main-card-link" href="{% url 'details-user' pk=object.taken_by_id %}">Taken by</a></p>
        {% else %}
            {% if request.user.user_type == 'teacher' %}
            <a class="main-card-link" href="{% url 'term-paper-take' pk=object.pk %}">Take term paper</a>
            {% endif %}
        {% endif %}
        {% if object.completed %}
        <p>Completed</p>
        <p><a class="main-card-link" href="{% url 'trophy-add' paper_pk=object.pk %}">Rate</a></p>


    {% endif %}
</div>

{% endblock %}