{% extends 'base/base.html' %}

{% block content %}

    {% if is_owner %}
        <a href="{% url 'term-paper-edit' pk=object.pk %}">Edit</a>
        <a href="{% url 'term-paper-delete' pk=object.pk %}">Delete</a>
    {% endif %}
    <p>{{ object.title }}</p>
    <p>{{ object.university }}</p>
    <p>{{ object.death_line }}</p>
    <p>{{ object.price_cap }}</p>
    <p>{{ object.description }}</p>

    <a href="{% url 'term-paper-file-open' pk=object.pk %}">Open File</a>

    {% if not is_taken %}
        <div>
        {% if request.user.user_type == 'teacher' %}
    <a href="{% url 'term-paper-take' pk=object.pk %}">Take term paper</a>
            {% endif %}
        </div>
        {% elif object.completed %}
        <p>Completed</p>
        <p><a href="{% url 'trophy-add' paper_pk=object.pk %}">Rate</a></p>

        {% else %}
        <p>Already taken</p>
    {% endif %}
    {% if object.taken_by %}
    <p><a href="{% url 'details-user' pk=object.taken_by_id %}">Taken by</a></p>
    {% endif %}

{% endblock %}