{% extends 'base/base.html' %}

{% block content %}
                <form  method="get" action="{% url 'lesson-index' %}">
                {{ search_form }}
                <button>
                    search
                </button>
                {% csrf_token %}
            </form>
    <div>Lessons:</div>
    {% for object in object_list %}
{#        TODO make a new card class#}
        <div class="term-paper-card">
            <p>{{ object.title }}</p>

            <a href="{% url 'lesson-details' pk=object.pk %}">Details</a>
        </div>
    {% endfor %}

{% endblock %}