{% extends 'administration/base-admin/base-admin.html' %}

{% block admin_content %}
                <form class="admin-search-form" method="get" action="{% url 'admin-materials-list' %}">
                {{ search_form }}
                <button>
                    search
                </button>
                {% csrf_token %}
            </form>


{% for object in object_list %}
<div class="main-admin-card">
    <h3 class="admin-card-p">{{ object.title }}</h3>

    {% if change_materials %}
    <a class="admin-card-links" href="{% url 'admin-material-edit' pk=object.pk %}">Change</a>
        {% endif %}
    {% if view_materials %}
    <a class="admin-card-links" href="{% url 'admin-material-details' pk=object.pk %}">Details</a>
    {% endif %}
    </div>

{% endfor %}
{% endblock %}