{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="main-card">
    <div class="main-card-text-box">
        <h1 class="main-card-header">Find someone to help you out!</h1>
        <p class="main-card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero elit, scelerisque vitae
            commodo vitae, egestas in sem. Praesent sed turpis efficitur, bibendum orci at,
            dapibus augue. Integer eu ex eros. Fusce nec turpis ullamcorper.</p>
        <a class="main-card-link" href="{% url 'term-paper-index' %}">Term Papers</a>
        </div>
        <img class="main-card-img" src="{% static 'images/how-to-write-a-term-paper.jpg' %}" alt="Photo"/>
    </div>


        <div class="main-card">
        <div class="main-card-text-box">
        <h1 class="main-card-header">Lessons to make you feel more secure</h1>
            <p class="main-card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero elit, scelerisque vitae
            commodo vitae, egestas in sem. Praesent sed turpis efficitur, bibendum orci at,
            dapibus augue. Integer eu ex eros. Fusce nec turpis ullamcorper.</p>
    <a class="main-card-link" href="{% url 'lesson-index' %}">Lessons</a>
            </div>
         <img class="main-card-img" src="{% static 'images/lessons-learned.jpg' %}" alt="Photo"/>
    </div>


        <div class="main-card">
        <div class="main-card-text-box">
            <h1 class="main-card-header">Find something that someone already did</h1>
                        <p class="main-card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero elit, scelerisque vitae
            commodo vitae, egestas in sem. Praesent sed turpis efficitur, bibendum orci at,
            dapibus augue. Integer eu ex eros. Fusce nec turpis ullamcorper.</p>
    <a class="main-card-link" href="{% url 'completed_paper-index' %}">Completed Papers</a>
            </div>
        <img class="main-card-img" src="{% static 'images/completed.jpg' %}" alt="Photo"/>
    </div>
        <div class="main-card">
        <div class="main-card-text-box">
         <h1 class="main-card-header">Look into our choices of useful materials</h1>
                                    <p class="main-card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero elit, scelerisque vitae
            commodo vitae, egestas in sem. Praesent sed turpis efficitur, bibendum orci at,
            dapibus augue. Integer eu ex eros. Fusce nec turpis ullamcorper.</p>

    <a class="main-card-link" href="{% url 'materials-index' %}">Materials</a>
            </div>
         <img class="main-card-img" src="{% static 'images/materials.webp' %}" alt="Photo"/>
            </div>



{% endblock %}