{% extends 'administration/base-admin/base-admin.html' %}

{% block admin_content %}
<div class="main-admin-card">
    <h3 class="admin-card-p" >Groups</h3>
    {% if add_groups %}
    <a class="admin-card-links" href="{% url 'admin-group-add' %}">Add</a>
    {% endif %}
    <a class="admin-card-links" href="{% url 'admin-group-list' %}">List</a>

</div>
<div class="main-admin-card">
    <h3 class="admin-card-p" >Users</h3>
    {% if add_users %}
    <a class="admin-card-links" href="{% url 'admin-user-add' %}">Add</a>
    {% endif %}
    <a class="admin-card-links" href="{% url 'admin-user-list' %}">List</a>

</div>
<div class="main-admin-card">
    <h3 class="admin-card-p" >Term-Papers</h3>
    {% if add_papers %}
    <a class="admin-card-links" href="{% url 'admin-paper-add' %}">Add</a>
    {% endif %}
        <a class="admin-card-links" href="{% url 'admin-paper-list' %}">List</a>

</div>
<div class="main-admin-card">
    <h3 class="admin-card-p" >Lessons</h3>
    {% if add_lessons %}
    <a class="admin-card-links" href="{% url 'admin-lesson-add' %}">Add</a>
    {% endif %}
    <a class="admin-card-links" href="{% url 'admin-lesson-list' %}">List</a>

</div>
<div class="main-admin-card">
    <h3 class="admin-card-p" >Completed Papers</h3>
    {% if add_completed %}
    <a class="admin-card-links" href="{% url 'admin-completed-add' %}">Add</a>
    {% endif %}
    <a class="admin-card-links" href="{% url 'admin-completed-list' %}">List</a>

</div>
<div class="main-admin-card">
    <h3 class="admin-card-p" >Materials</h3>
    {% if add_materials %}
    <a class="admin-card-links" href="{% url 'admin-materials-add' %}">Add</a>
    {% endif %}
    <a class="admin-card-links" href="{% url 'admin-materials-list' %}">List</a>

</div>


<div class="main-admin-card">
    <h3 class="admin-card-p" >Trophies</h3>
    {% if add_trophies %}
    <a class="admin-card-links" href="{% url 'admin-trophy-add' %}">Add</a>
    {% endif %}
    <a class="admin-card-links" href="{% url 'admin-trophy-list' %}">List</a>

</div>

{% endblock %}